doctype html
html
  head
    title= title
    link(rel='stylesheet', href='public/stylesheets/style.css')
    link(rel='stylesheet', href='public/stylesheets/bootstrap/css/bootstrap.min.css')  

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='public/stylesheets/bootstrap/js/bootstrap.min.js')     	
  body
    block content