extends layout

block content
	h1 Crypto-Currency API info:	
	a(href='/btc-e.com') 
		h2 See Info from btc-e.com
	a(href='/cryptsy') 
		h2 See Info from cryptsy.com
	script(src='')
	script(src='public/javascripts/main.js')