extends layout

block content
	h1 Crypto-Currency API info:
	form(name="input" method="post" action="/")
	ul
		for item in items
			li= "URL: "+item.url
			li= item.usd
			li= item.btc
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
script(src='stylesheet/bootstrap-3.2.0/bootstrap.min.js')