extends layout

block content
	h1 Crypto-Currency API info:	
	button a(href='/btc-e.com') = See Info from btc-e.com
	button a(href='/cryptsy') = See Info from cryptsy.com
	script(src='')
	script(src='public/javascripts/main.js')